 .u-section-1 {
  background-image: url("images/IMG_20160723_211259481.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: 0 0 60px 535px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 150px;
    margin-left: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-right: 297px;
    margin-left: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 133px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 69px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 540px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: auto;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1483px;
}

.u-section-3 .u-text-1 {
  margin: 301px calc(((100% - 1140px) / 2) + -27px) 0 auto;
}

.u-section-3 .u-image-1 {
  width: 649px;
  height: 730px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 301px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-image-2 {
  width: 522px;
  height: 647px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -1359px auto 0 0;
}

.u-section-3 .u-image-3 {
  width: 709px;
  height: 560px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -635px 0 0 auto;
}

.u-section-3 .u-rotation-parent-1 {
  width: 482px;
  height: 859px;
  margin: 12px calc(((100% - 1140px) / 2) + -27px) 41px auto;
}

.u-section-3 .u-image-4 {
  width: 859px;
  height: 482px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + -27px);
  }

  .u-section-3 .u-image-1 {
    width: 450px;
    height: 420px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-image-2 {
    width: 384px;
    height: 381px;
    margin-top: -987px;
  }

  .u-section-3 .u-image-3 {
    width: 440px;
    height: 337px;
    margin-top: -443px;
    margin-right: calc(((100% - 1140px) / 2) + 130px);
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: 29px;
    margin-right: calc(((100% - 940px) / 2) + -27px);
    margin-bottom: 60px;
  }

  .u-section-3 .u-image-4 {
    width: 521px;
    height: 721px;
    margin: 29px calc(((100% - 940px) / 2) + -27px) 60px auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + -27px);
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 336px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-image-2 {
    width: 315px;
    height: 273px;
    margin-top: -886px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-image-3 {
    width: 375px;
    height: 361px;
    object-position: 100% 50%;
    margin-top: -345px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-right: calc(((100% - 720px) / 2) + -27px);
  }

  .u-section-3 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + -27px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1227px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + -27px);
  }

  .u-section-3 .u-image-1 {
    width: 221px;
    height: 314px;
    object-position: 27.25% 50%;
    margin-top: 861px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-image-2 {
    margin-top: -1117px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-image-3 {
    width: 377px;
    height: 268px;
    margin-top: -87px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-right: calc(((100% - 540px) / 2) + -27px);
    margin-bottom: 41px;
  }

  .u-section-3 .u-image-4 {
    height: 601px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 41px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 224px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + -27px);
  }

  .u-section-3 .u-image-1 {
    width: 254px;
    height: 254px;
    margin-top: 301px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-image-2 {
    width: 292px;
    height: 251px;
    margin-top: -1011px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-image-3 {
    height: 269px;
    width: 310px;
    margin-top: -410px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-rotation-parent-1 {
    width: 340px;
    height: 464px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-4 {
    width: 414px;
    height: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 60px;
  }
}